# Python
__pycache__/
*.pyc

# Environment files
.env

# Conda / virtual environments
.venv/
env/
*.conda

# Stockfish engine
engines/stockfish/*.exe

# IDE
.vscode/
.idea/

"engines/stockfish/*.exe" 
